<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VVV - About</title>
    <link rel=StyleSheet href="style.css" type="text/css" media=screen>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
            <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="">
        <div>
           <div class="wrapper description">
            <p>VVV [Trippin’you] es un trío madrileño neo-bakala que nació para rendir culto al frío, al ruido, a la modernidad y a los parkings. Un fin, que encuentra el equilibrio entre la oscuridad generacional y las ganas de bailar en la pista.
            <br>
            Con letras frenéticas, repletas del espíritu generacional más alternativo, VVV [Trippin’you], nos ofrece una visión del desasosiego de la juventud actual. Sonidos psicodélicos electro-punk y voces llenas de ecos de desidia que te hacen viajar a través del tiempo. En 2018 lanzaron ‘Lennui’, su primer LP, lo que les llevó a girar por toda España hasta 2019, año en el que siguieron tocando en diferentes salas y festivales de todo el país y, además, presentaron dos singles y un documental sobre el grupo. Su segundo disco, ‘Escama’ se presentó en febrero de 2020, el cual decidieron versionar a finales de ese mismo año para hacer un homenaje a todas aquellas pistas de baile que la pandemia no les dejó quemar.  Y, entre medias, también decidieron lanzar un EP de cuatro cortes titulado ‘Cólera / Mi Sangre’ junto a Luz Futuro. </p>
           </div>
        </div>
        <footer>
            <p>© VVV [Trippin’ You] 2021</p>
        </footer>
     </div>
        
</body>
</html>