<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>VVV - Gallery</title>
    <link rel=StyleSheet href="style.css" type="text/css" media=screen>
</head>
<body>
    <nav>
        <!-- <img class="logo" src="logo.png"> -->
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
            <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="grid">
            <div class="grid__item"><img src="images/01.jpeg"></div>
            <div class="grid__item"><img src="images/02.jpeg"></div>
            <div class="grid__item"><img src="images/03.jpeg"></div>
            <div class="grid__item"><img src="images/04.jpeg"></div>
            <div class="grid__item"><img src="images/05.jpeg"></div>
            <div class="grid__item"><img src="images/06.jpeg"></div>
            <div class="grid__item"><img src="images/07.jpeg"></div>
            <div class="grid__item"><img src="images/08.jpeg"></div>
            <div class="grid__item"><img src="images/09.jpg"></div>
            <div class="grid__item"><img src="images/10.jpeg"></div>
          </div>
          <footer>
            <p>© VVV [Trippin’ You] 2021</p>
          </footer>
    </div>
</body>
</html>