<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ovelles Negres</title>
    <link rel=StyleSheet href="style.css" type="text/css" media=screen>
</head>
<body>
    <nav>
        <ul>
            <li><a href="/">Inicio</a></li>
            <li><a href="about">About</a></li>
            <li><a href="works">Works</a></li>
            <li><a href="gallery">Gallery</a></li>
        </ul>
    </nav>
    <div class="main">
        <div class="playlists">
            <h3>L'ennui</h3>
            <p>Label:	GOR – G-642-LP<br>
            Country:	Spain<br>
            Released:	2018<br>
            </p>
            <iframe src="https://open.spotify.com/embed/album/3dCBYuVzXoVpjPtiCvhuoo?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <div class="playlists">
            <h3>Escama</h3>
            <p>Label:	Helsinki Pro<br>
            Country:	Spain<br>
            Released:	2020<br></p>
            <iframe src="https://open.spotify.com/embed/album/4NYnACTDLJ1YHcbnEpPh7D?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <div class="playlists">
            <h3>Turboviolencia</h3>
            <p>Label:	Helsinki Pro<br>
            Country:	Spain<br>
            Released:	2021<br></p>
            <iframe src="https://open.spotify.com/embed/album/6dqnfkFIk2k450lqaCPTKq?utm_source=generator" width="100%" height="380" frameBorder="0" allowfullscreen="" allow="autoplay; clipboard-write; encrypted-media; fullscreen; picture-in-picture"></iframe>
        </div>
        <footer>
            <p>© VVV [Trippin’ You] 2021</p>
        </footer>
    </div>
</body>
</html>